.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  animation: slideBackground 10s infinite linear; /* Updated the animation to slide */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  font-size: 6vw;
}

.school {
  font-size: 5vw;
}

.education {
  font-size: 4vw;
}

.content {
  font-size: 3vw;
}

@media (min-width: 768px) {
  .welcome {
      font-size: 3vw;
  }
  .school {
      font-size: 2.5vw;
  }
  .education {
      font-size: 2vw;
  }
  .content {
      font-size: 1.2vw;
  }
}

.form-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  color: #333;
}

@media (max-width: 480px) {
  .form-container {
      padding: 20px;
  }
}

.form-container h2 {
  font-size: 1.8rem;
  color: #b30000;
  margin-bottom: 20px;
  text-align: center;
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-container button {
  width: 100%;
  background-color: #b30000;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #900000;
}

@keyframes slideBackground {
  0% {
    background-image: url("../../assets/Nobel_Gurukul_Convent.jpg");
  }
  25% {
    background-image: url("../../assets/republic.jpg");
  }
  50% {
    background-image: url("../../assets/shivaji_jayanti_celebration.jpg");
  }
  75% {
    background-image: url("../../assets/Marathi_diwas.jpg");
  }
  100% {
    background-image: url("../../assets/Nobel_Gurukul_Convent.jpg");
  }
}
